.skillsSection{
    background-color: #232331;
    color: #fff;
}
.skillsContainer{
    padding: 5em 0;
    margin: 0 auto;
    width: 70%;
}
.skills__title{
    text-transform: uppercase;
    position: relative;
    z-index: 5;
    font-weight: bold;   
}
.skills__title::after{
    content: 'About';
    font-size: 22px;
    color: #f45865;
    position: absolute;
    top: -55%;
    left: 0;
}
.skills__title::before{
    content: '';
    display: block;
    min-width: 1.5em;
    max-width: 1.5em;
    width: 5%;
    height: 2px;
    position: absolute;
    background-color: #f45865;
    bottom: -10px;
    z-index: -1;
    border-radius: 1em;
}
.skills__content{
    width: 100%;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}
.skills__content__item{
    flex: 1 1 auto;
    flex-wrap: wrap;
    border: 2px solid #f45865;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 10em;
    height: 10em;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease;
}
.skills__content__item:hover{
    transform: scale(1.1);
}
.skills__content__item i{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 700%;
    color: #f45865;
}
@media (max-width: 425px){
    .skills__title::after{
        top: -65%;
    }
}