.navbar{
    position: fixed !important;
    z-index: 1000;
    color: #fff;
    background: none !important;
    justify-content: center !important;
    text-align: center !important;
    transition: background .3s linear;
}
.navbar-brand{
    color: #fff !important;
    font-weight: bold;
    font-size: 2.3em;
}
.navbar-brand span{
    color: #f45865;
}
.nav-link{
    color: #fff !important;
    font-weight: bold;
}
.nav-link:hover{
    color: #f45865 !important;
}
.nav-item{
    padding: .2em 1em;
}
.navbar.active{
    background: #14141e !important;
    box-shadow: 0 0 2em black;
}
@media (max-width: 768px){
    .navbar{
        background: #14141e !important;
        box-shadow: 0 0 2em black;
    }
}